{{extend name="public/base"/}}
{{block name="title"}}详情{{/block}}
{{block name="css"}}
    <link rel="stylesheet" type="text/css" href="__CSS__/detail.css">
    <style type="text/css">
    	.mui-card-media{

    	}
    </style>
{{/block}}
{{block name="header"}}<a class=" mui-icon mui-icon-more mui-pull-right" style="color:#fff"></a>{{/block}}
{{block name="main"}}
	<nav class="mui-bar mui-bar-tab by-spxq-box-a">
			<a class="mui-tab-item by-spxq-border" style="width:13%" href="">
				<span class="mui-icon mui-icon-extra mui-icon-extra-custom"></span>
				<span class="mui-tab-label">客服</span>
			</a>
			<a class="mui-tab-item" style="width:13%;position:relative"  onclick='location.href="{{:url('user/cart')}}"'>
				{{if $cartnum}}
				<span class="mui-badge by-bage-gwc mui-badge-red">{{$cartnum}}</span>
				{{/if}}
				<span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
				<span class="mui-tab-label">购物车</span>
			</a>
			<a class="mui-tab-item by-xpxq-one" style="width:37%;position:relative" onclick="add('{{$product.id}}');" href="javascript:;">
				加入购物车
			</a>
			<a class="mui-tab-item by-xpxq-one" style="width:37%" href="dfk.html">
				立即购买
			</a>
		</nav>
		<div class="mui-content">
			<div class=" by-card" style="box-shadow: none;">
				<div class=" mui-card-media" style="height:65vw;background-image:url(images/11.png)"></div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner" style="padding:0 20px;">
						<p>
							<h4>{{$product.title}}</h4></p>
						<p style="color: #9b9b9b;">详情：{{$product.content}}...</p>
						<span style="color:#727272;font-weight: bold;">零售价：<text style="color:red">{{$product.price|substr=0,-3}}  元 / 盒</text></span>
						<div class="by-spxq-zs">
							<p>快递免邮费</p>
							<p>剩余：<span>{{$product.num}}</span></p>
							<p>销量：<span>{{$product.sellnum}}</span></p>
						</div>
					</div>
				</div>
				<div class="mui-card-footer" style="padding:0 15px;">
				</div>
			</div>
			<div class="mui-content">
				<div style="padding: 10px 10px;">
					<div id="segmentedControl" class="mui-segmented-control" style="border:none;background-color:#fff">
						<a class="mui-control-item mui-active" id="by-one" href="#item1 ">商品详情</a>
						<!-- <a class="mui-control-item" id="by-one" href="#item2">销量和评价</a> -->
					</div>
				</div>
				<div>
					<div id="item1" class="mui-control-content mui-active">
						<div id="scroll" class="">
							<ul class="mui-table-view">
								{{volist name="img['detimg']" id="vo"}}
								<li class="">
									<img src="__STATIC__/upload/{{$vo.path}}" />
								</li>
								{{/volist}}
							</ul>
						</div>
					</div>
					<div id="item2" class="mui-control-content">
						<ul class="mui-table-view">
							<!-- <li class="mui-table-view-cell">
								<div class="mui-card">
									<div class="mui-card-header">
										<span>sdad(会员)</span>
										<h5 class="mui-pull-right">2018-12-12</h5>
									</div>
									<div class="mui-card-content">
										<div class="mui-card-content-inner">
											<h5>包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）</h>
										</div>
									</div>
									 <div class="mui-card-footer">
										<img src="images/60x60.gif" />
									</div>
								</div>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
{{/block}}
{{block name="js"}}
<script type="text/javascript">
	
	function add(id){
		var userid = '{{$Think.session.userInfo.id}}';
		if(userid !=false){
			$.ajax({
				type:'post',
				url:'{{:url("cart/add")}}',
				data:{'productid':id},
				success:function(res){
					switch (res) {
						case '0':
							mui.toast('购物车商品数+1');
							break;
						case '1':
							location.href="{{:url('product/detail',['id'=>$product.id])}}";
							break;
						case '2':
							mui.toast('加入购物车失败');
							break;
						default:
							mui.toast('数据错误');
							break;
					}

				}
			});
		} else {
			location.href='{{:url("user/login")}}';
		}
	}
</script>
{{/block}}