{{extend name="public/base"/}}
{{block name="title"}}
源动力
{{/block}}
{{block name="header"}}
<a class=" mui-icon mui-icon-more mui-pull-right" style="color:#fff"></a>
{{/block}}
{{block name="css"}}
	<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
{{/block}}
{{block name="main"}}
{{include file="public/nav"}}
<div class="mui-content" style="padding-bottom: 0">
			<div id="slider" class="mui-slider" style="height:150px">

				<div class="mui-slider-group mui-slider-loop">
					
					<!-- 额外增加的第一个节点 -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="javascript:void(0)">
							{{if !empty($img.slideimg[count($img.slideimg)-1]->path)}}
							<img src="__STATIC__/upload/{{$img.slideimg[count($img.slideimg)-1]->path}}" />
							{{/if}}
						</a>
					</div>	
					{{volist name="img['slideimg']" id="src"}}
					<!-- 第{{$i}}张 -->
					<div class="mui-slider-item">
						<a href="javascript:void(0)">
							<img src="__STATIC__/upload/{{$src.path}}">
						</a>
					</div>
					{{/volist}}
					{{volist name="img['slideimg']" id="src"}}
					{{if $i eq 1}}
					<!-- 额外增加的最后一个节点 -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="javascript:void(0)">
							<img src="__STATIC__/upload/{{$src.path}}">
						</a>
					</div>
					{{/if}}
					{{/volist}}
				</div>
				<div class="mui-slider-indicator">
					{{volist name="img['slideimg']" id="vo" key="j"}}
					<div class="mui-indicator {{$j == 1?'mui-active':''}}"></div>
					{{/volist}}
				</div>
			</div>
			<div class="mui-card by-card" style="box-shadow: none;">
				<div class=" mui-card-media" style="height:65vw;">
					{{if !empty($img['cartimg'][0])}}
					<img src="__STATIC__/upload/{{$img['cartimg'][0]->path}}" style="height: 100%">
					{{/if}}
				</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner" style="padding:0 5px;">
						<p><h3  style="text-align: center;">{{$product.title}}</h3></p>
						<p style="color: #9b9b9b;padding:0 10px;">详情：/ <?php echo $_SERVER['SERVER_NAME']?> /{{$product.content|mb_substr=0,42}} ...</p>
					</div>
				</div>
				<div class="mui-card-footer">
					<span style="color:#727272;font-weight: bold;">零售价：<text style="color:red">{{$product.price}}  元 / 盒</text></span>
					<a class="mui-card-link" href="{{:url('product/detail',['id'=>$product.id])}}"><span style="width:160px;font-weight:bold;height:40px;line-height:40px;border-radius: 15px;background-color:#f5ba4c;color:#fff;text-align: center;font-size: 16px;">点击了解详情</span></a>
				</div>
			</div>
		</div>
		
{{/block}}
