{{extend name="public/base"/}}
{{block name="title"}}设置{{/block}}
{{block name="css"}}
<link rel="stylesheet" type="text/css" href="__CSS__/create_order.css">
<style>
    .by-shdz-underline {
        width: 100%;
        height: 2px;
        background: url('__STATIC__/images/underline.png') 0 0 repeat-x;
    }
</style>
{{/block}}
{{block name="header"}}<a class=" mui-icon mui-icon-more mui-pull-right" style="color:#fff"></a>{{/block}}
{{block name="main"}}
<div class="mui-content by-content" style="background-color:#fafafa">

    <ul class="mui-table-view mui-table-view-chevron">
        <li class="mui-table-view-cell mui-media">
            {{if !$order['addr']}}
            <span class="mui-icon mui-icon-plusempty mui-pull-left"></span>
            {{else /}}
            <span class="mui-navigate-right mui-pull-left" style="margin-left:5px"></span>
            {{/if}}
            <div class="mui-media-body by_popAddress_box">
                {{if $order['addr']}}
                <div>
                    收货人 <span class="by-Customer">{{$order['addr']->consignee}}</span> <span class="by-Customer-phone">13541872222</span>
                    <p class='mui-ellipsis'>收货地址：<span class="by-goods-address" data-addressid="{{$order['addr']->id}}">{{:mb_substr($order['addr']->address,mb_strrpos($order['addr']->address,'-')+1)}} {{$order['addr']->remark}}</span></p>
                </div>
                {{else /}}
                <div class="" style="padding-left:20px;color:#cf3a3a;">
                    <h4>你还未添加地址</h4>
                </div>
                {{/if}}

            </div>
        </li>
        <div class="by-shdz-underline"></div>
    </ul>

    {{volist name="$order['product']" id="vo"}}
    <div class="mui-card by-data-goodsid" data-suit="{{$vo.suit}}"
         data-goodsprice="{{$vo->price}}" data-goodsid="{{$vo.id}}" data-pronum="{{$order['num'][$i-1]}}">
        <div class="by-gwc-fl" style="margin-top:4vw;margin-left:1vw;">
            {{foreach $vo->getImgs as $value}}
            {{if $value->type == 0}}
            <img src="__STATIC__/upload/{{$value->path}}" style="width: 50px;height:80px;"/>
            {{/if}}
            {{/foreach}}
        </div>
        <div class="by-gwc-fl" style="width: 60%;">
            <div class="mui-card by-card" style="box-shadow: none;">

                <div class="mui-card-content">
                    <div class="mui-card-content-inner" style="padding:0 5px;">
                        <p>
                        <h4 style="text-align: center;">{{$vo->title}}</h4>
                        </p>
                        <p style="color: #9b9b9b;padding:0 10px; font-size: 12px;">
                            详情：{{$vo->content|mb_substr=0,18}}...</p>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="by-gwcjs-jg">￥<span class="by-goodsprice">{{$vo->price|substr=0,-3}}</span>元/盒</h5>
        <div class="by-dsh-b mui-pull-left" style="padding-right: 20px;">
            <p class="mui-text-right"><strong style="color:#ff3434;font-size:22px">x<span class="by-goodsnumber">{{$order['num'][$i-1]}}</span></strong>
            </p>
        </div>
    </div>
    {{/volist}}
    <div class="mui-card">
        <ul class="mui-table-view mui-table-view-chevron">
            {{volist name="$order['num']" id="num"}}
            {{if $Think.session.userInfo.voucher==1 && $num%10!=0}}
            <li class="mui-table-view-cell mui-media" style="padding:5px 15px ;">
                <div class="mui-media-body by-media-body">
                    <div class="mui-input-row mui-checkbox">
                        <label style="padding: 11px 0px;">优惠券</label>
                        <input name="checkbox1" value="Item 4" type="checkbox" style="right: 0px;">
                    </div>
                </div>
            </li>
            {{/if}}
            {{/volist}}
            <li class="mui-table-view-cell mui-media">
                <div class="mui-media-body by-media-body">
                    配送方式
                    <h5 class="mui-pull-right">免运费普通快递</h5>
                </div>
            </li>
            <li class="mui-table-view-cell mui-media">

                <div class="mui-media-body by-media-body">
                    商品金额<strong class="mui-pull-right">￥<span
                        class="by-goodsshop">{{$order['totalprice']}}</span></strong>
                </div>
            </li>
            <li class="mui-table-view-cell mui-media">
                <div class="mui-media-body by-media-body">
                    运费<strong class="mui-pull-right">￥<span class="by-goodsadress">0</span></strong>
                </div>
            </li>
        </ul>
    </div>
    <div class="by-shdz-tj">
        <p>合计：<strong style="color:#ff3434;">￥<span class="by-totaltj"></span></strong>
            <a href="javascript:void(0)" data-url="{{:url('order/order')}}" class="mui-pull-right by-total-btn">提交订单</a>
        </p>
    </div>

</div>
<div class="by_popAddress_show mui-hidden">
    <div class="by-pay-item">
        <div class="by-pay-back">
        </div>
        <ul class="by_ul_adrress">
            <li class="newaddr">添加新地址</li>
        </ul>
    </div>
</div>
<div class="mui-content mui-text-center mui-hidden by-noGoods" style="height:100%">
    <div class="by-gwc-ktxt">
        <h4 style="color:#929292">购物车快饿扁了T.T</h4>
        <h5 style="color:#aeaeae">快给我挑点东西吧</h5>
        <a href="javascript:void(0)">去逛逛</a>
    </div>
</div>
{{/block}}
{{block name="js"}}
<script type="text/javascript">
    //点击关闭支付弹窗
    function closePay() {
        $('.by-pay-back').click(function () {
            $('.by-pay-box').addClass('mui-hidden');
        })
    }

    $(function () {
        //支付弹框
        $('.by-total-btn').click(function () {
            $(this).addClass('mui-hidden');
            var url = $(this).data('url');
            console.log(url);
            var proid = [];
            var pronum = [];
            var proprice = [];
            var suit = [];
            $('.by-data-goodsid').each(function (index, value) {
                proid[index] = $(this).data('goodsid');
                pronum[index] = $(this).data('pronum');
                proprice[index] = $(this).data('goodsprice');
                suit[index] = $(this).data('suit');
            });
            var endprice = Number($('.by-totaltj').attr('data-end'));
            var voucher = $('[name="checkbox1"]').prop('checked') ? 1 : 0;
            var addrid = $('.by-goods-address').data('addressid');
            var param = {
                'addrid': addrid,
                'endprice': endprice,
                'suit': suit,
                'voucher': voucher,
                'proid': proid,
                'pronum': pronum,
                'proprice': proprice
            };
            $.ajax({
                type:'post',
                url: url,
                data: {'data': JSON.stringify(param)},
                success: function (res) {
                    if (res != 0) {
                       location.href='{{:url("order/pay")}}?id=' + res;
                    } else {
                        mui.toast('系统繁忙请稍后查看订单');
                        location.href='{{:url("index/index")}}';
                    }
                },
                error:function(res) {
                  console.log(res);
                }
            });
        });

        closePay();
        var total = Number($('[class="by-goodsshop"]').text()) + Number($('[class="by-goodsadress"]').text());
        $('.by-totaltj').attr('data-end', total);
        $('.by-totaltj').text(total);
        $('.newaddr').click(function () {
            location.href="{{:url('address/addrlist')}}";
        });
        ////地址选择
        function popAddress(){
            $('.by_popAddress_box').click(function(){
                $.get('{{:url("address/selectaddr")}}',null,function (res) {
                    if(res){
                        $('.newaddr').siblings().remove();
                        for (var i=0; i<res.length;i++){
                            var li = $('<li class="mui-ellipsis" onclick="resaddr('+res[i].id+')">'
                                +res[i].consignee+' '
                                +res[i].address.substr(res[i].address.lastIndexOf('-')+1)+' '+
                                res[i].remark
                                +'</li>');
                            $('.by_ul_adrress').prepend(li);
                        }
                    }
                });
                $('.by_popAddress_show').removeClass('mui-hidden');
                clickAddres();
            });
        }
        popAddress();
        //点击弹出地址窗口
        function clickAddres(){
            $('.by_popAddress_show').removeClass('mui-hidden');
            $('.by_popAddress_show').css('height',$('body').innerHeight());
            $('.by-pay-back').css('height',$('.by_popAddress_show').height()-$('.by_ul_adrress').height());
        }

        $('.by_popAddress_show .by-pay-back').click(function(){
            clickAddres();
            $('.by_popAddress_show').addClass('mui-hidden');
        })
    });


    $('[name="checkbox1"]').change(function () {
        if ($(this).prop('checked')) {
            $('.by-totaltj').text($('.by-totaltj').text() - 500);
        } else {
            $('[class="by-totaltj"]').text(Number($('[class="by-totaltj"]').text()) + 500);
        }
        console.log(this);
    });

    function resaddr(id){
        $('.by_popAddress_box').empty();
        $.post('{{:url("address/getaddr")}}',{id:id},function (obj) {
            var div = $('<div></div>');
            div.html('收货人 <span class="by-Customer">'
                +obj.consignee+'</span> <span class="by-Customer-phone">'
                +obj.mobile+'</span>'+'<p class="mui-ellipsis">收货地址：<span class="by-goods-address" data-addressid="'+obj.id+'">'
                +obj.address.substr(obj.address.lastIndexOf('-')+1)+' '+obj.remark+'</span></p>');
            $('.by_popAddress_box').append(div);
            $('.by_popAddress_show').addClass('mui-hidden');
        });
    }
</script>

{{/block}}