<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>{{block name="title"}}{{/block}}</title>
		<script src="__JS__/jquery-3.3.1.min.js"></script>
		<script src="__STATIC__/lib/mui/js/mui.min.js"></script>
		<script src="__STATIC__/lib/mui/js/util.js"></script>
		<link rel="stylesheet" href="__STATIC__/lib/mui/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="__STATIC__/lib/mui/css/icons-extra.css" />
		
	{{block name="css"}}{{/block}}
</head> 
<body>
	{{block name="main"}}<a class=" mui-icon mui-icon-more mui-pull-right" style="color:#fff"></a>{{/block}}
	{{block name="foot"}}{{/block}}
	
		<script type="text/javascript">

			(function() {
				mui.init({
					swipeBack: true //启用右滑关闭功能
				});
				var slider = mui("#slider");
				slider.slider({
					interval: 2000
				});

			})();

		</script>
    <script src="__JS__/rem.js"></script>
	{{include file="public/message"}}
	{{block name="js"}}{{/block}}
	
</body>
</html>