{{extend name="public/base"}}
{{block name="bg"}}class="login-bg"{{/block}}
{{block name="main"}}
    <div class="login layui-anim layui-anim-up">
        <div class="message">源动力管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form action="{{:url('user/doLogin')}}" method="post" class="layui-form" >
            <input name="nickname" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
            {{:token()}}
        </form>
    </div>
    <!-- 底部结束 -->
{{/block}}

