{{extend name="public/base"}}
{{block name="main"}}
<fieldset class="layui-elem-field" style="margin: 10px;">
  <legend><h2>用户信息</h2></legend>
  <div class="layui-field-box">
<form class="layui-form" ><hr><hr>
<div class="layui-form-item">
      <label class="layui-form-label">用户&nbsp; I D :</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid">{{$user.id}}</div>
        <input type="hidden" name="userid" value="{{$user.id}}">
      </div>
          <div class="layui-form-mid layui-word-aux">用户唯一ID</div>
    </div><hr>
    <div class="layui-form-item">
          <label class="layui-form-label">用户昵称 :</label>
          <div class="layui-input-inline">
            <div class="layui-form-mid">{{$user.nickname}}</div>
          </div>
              <div class="layui-form-mid layui-word-aux">用户昵称</div>
        </div><hr>
    <div class="layui-form-item">
        <label class="layui-form-label">用户手机 :</label>
        <div class="layui-input-inline">
            <div class="layui-form-mid">{{$user.mobile}}</div>
        </div>
        <div class="layui-form-mid layui-word-aux">用户手机号码</div>
    </div><hr>
    <div class="layui-form-item">
        <label class="layui-form-label">用户云仓 :</label>
        <div class="layui-input-inline">
          <div class="layui-form-mid">{{$user.cloud}}</div>
        </div>
        <div class="layui-form-mid layui-word-aux">用户云仓</div>
    </div><hr>
    <div class="layui-form-item">
      <label class="layui-form-label">用户余额 :</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid">{{$user.balance}}</div>
      </div>
      <div class="layui-form-mid layui-word-aux">用户余额</div>
    </div><hr>
    <div class="layui-form-item">
        <label class="layui-form-label">用户类型 :</label>
        <div class="layui-input-inline">
            <div class="layui-form-mid">{{$usertype[$user.usertype]}}</div>
        </div>
        <div class="layui-form-mid layui-word-aux">用户类型</div>
    </div><hr>
  <div class="layui-form-item">
          <label class="layui-form-label">用户收入 :</label>
          <div class="layui-input-inline">
              <div class="layui-form-mid">{{$user.total_income}}</div>
          </div>
          <div class="layui-form-mid layui-word-aux">用户总收入</div>
  </div><hr>
  <div class="layui-form-item">
            <label class="layui-form-label">创建时间 :</label>
            <div class="layui-input-inline">
                <div class="layui-form-mid">{{$user.createtime}}</div>
            </div>
            <div class="layui-form-mid layui-word-aux">用户创建时间</div>
  </div>
</form>
    </div>
    </fieldset>
{{/block}}