{{extend name="public/base"}}
{{block name="main"}}
<!-- 右侧主体开始 -->
    <div class="x-nav">
      <!-- <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span> -->
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="{{:url('user/search')}}" method="get">
          <!--<input class="layui-input" disabled placeholder="开始日" name="start" id="start">-->
          <!--<input class="layui-input" disabled placeholder="截止日" name="end" id="end">-->
          查找用户: <input type="text" name="keywords"  placeholder="请输入手机号" value="{{$keywords ?: ''}}" autocomplete="off" class="layui-input">
          <button class="layui-btn"  type="submit" ><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
       <!-- <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./member-add.html',600,400)"><i class="layui-icon"></i>添加</button> -->
        <span class="x-right" style="line-height:40px">共有数据：{{$userlist['userCount']}} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>昵称</th>
            <th>性别</th>
            <th>手机</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
          {{volist name="userlist['userlist']" id="user"}}
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{{$user["id"]}}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{{$user['id']}}</td>
            <td>{{$user.nickname}}</td>
            <td>{{$user.sex ? '男':'女'}}</td>
            <td>{{$user.mobile}}</td>
            <td>{{$user.createtime}}</td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">正常</span>
            </td>
            <td class="td-manage">
              <a title="查看"  onclick="x_admin_show('查看','{{:url('user/show',['id'=>$user.id])}}')" href="javascript:;">
                <i class="layui-icon">&#xe63c;</i>
              </a>
              <a href="javascript:;" title="充值" onclick="x_admin_show('充值','{{:url('user/charge',['id'=>$user.id])}}')" >
                <i class="layui-icon">&#xe65e;</i>
              </a>
              <a title="删除" onclick="member_del(this,'{{$user['id']}}')" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
          {{/volist}}
        </tbody>
      </table>
      <div class="page">
        {{$userlist['userlist']->render()}}
      </div>
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });



      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(){
            $.ajax({
              type:'post',
              url:"{{:url('user/del')}}",
              data:{'id':id},
              success:function (res){
               if(res>0){
                $(obj).parents("tr").remove();
                layer.msg('已删除!',{icon:1,time:1000});
               } else {
                layer.msg('删除失败!',{icon:2,time:1000});
               }
              } 
            });
              

          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }


    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
    <!-- 右侧主体结束 -->
{{/block}}
