{{extend name="public/base"}}
{{block name="main"}}
<fieldset class="layui-elem-field" style="margin: 10px;">
  <legend>用户云仓充值</legend>
  <div class="layui-field-box">
<form class="layui-form" action="{{:url('user/userCharge')}}" method="post">
  <div class="layui-form-item">
      <label class="layui-form-label">用户ID :</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid">{{$user.id}}</div>
        <input type="hidden" name="userid" value="{{$user.id}}">
      </div>
          <div class="layui-form-mid layui-word-aux">用户唯一ID</div>
    </div>
    <div class="layui-form-item">
          <label class="layui-form-label">用户昵称 :</label>
          <div class="layui-input-inline">
            <div class="layui-form-mid">{{$user.nickname}}</div>
          </div>
              <div class="layui-form-mid layui-word-aux">用户昵称</div>
        </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户手机 :</label>
        <div class="layui-input-inline">
            <div class="layui-form-mid">{{$user.mobile}}</div>
        </div>
        <div class="layui-form-mid layui-word-aux">用户手机号码</div>
    </div>
  <div class="layui-form-item">
    <label class="layui-form-label">用户余额 :</label>
    <div class="layui-input-inline">
      <div class="layui-form-mid">{{$user.balance}}</div>
    </div>

        <div class="layui-form-mid layui-word-aux">用户余额</div>
  </div>
  <div class="layui-form-item">
      <label class="layui-form-label">云仓余额 :</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid">{{$user.cloud}}</div>
      </div>
          <div class="layui-input-inline">
            <input type="text" name="cloud" required lay-verify="required" placeholder="填写充值金额" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux">云仓充值</div>
    </div>
  <div class="layui-form-item">
    <label class="layui-form-label">代理等级 :</label>
    <div class="layui-input-block">
      <select name="usertype" lay-verify="required">
        <option value=""></option>
        <option {{$user.usertype==0?'selected':''}} value="0">普通会员</option>
        <option {{$user.usertype==1?'selected':''}} value="1">创业代理</option>
        <option {{$user.usertype==2?'selected':''}} value="2">都市代理</option>
        <option {{$user.usertype==3?'selected':''}} value="3">....</option>
        <option {{$user.usertype==4?'selected':''}} value="4">....</option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" type="submit">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
</div>
</fieldset>
{{/block}}