{{extend name="public/base"/}}
{{block name="title"}}设置{{/block}}
{{block name="css"}}
    <link rel="stylesheet" type="text/css" href="__CSS__/edit.css">
{{/block}}
{{block name="main"}}
    <div class="mui-content" style="background-color:#fafafa">
            <ul class="mui-table-view mui-table-view-chevron">
                {{volist name="$Think.session.userInfo->getAddr" id="vo"}}
                <li class="mui-table-view-cell mui-media by-tjdz-add">
                    <div class="mui-input-row mui-checkbox mui-pull-left" style="width:50px;height:50px">
                        <label></label>
                        <input name="checkbox" value="Item 2" type="checkbox" checked style="top:9px;">
                    </div>
                    <a class="mui-navigate-right mui-pull-left" > 
                        <div class="mui-media-body" style="color:#5b5b5b">
                            <p style="color:#686868"><strong>{{$vo.consignee}}</strong> {{$vo.mobile}}</p>
                            <p class='mui-ellipsis'style="color:#ccc">收货地址：{{$vo.address}}</p>
                            <a class="by-tjdz-compose" href="{{:url('user/editaddr',['id'=>$vo.id])}}"><span class="mui-icon mui-icon-compose"></span></a>
                        </div>
                    </a>
                </li>
                {{/volist}}

            </ul>
            <div class="by-tjdz-bottom">
                <a href="{{:url('user/newaddr')}}">新增加地址</a>
            </div>
            
{{/block}}