{{extend name="public/base"/}}
{{block name="title"}}登录{{/block}}
{{block name="main"}}
    <div class="container">
        <form action="{{:url('user/doLogin')}}" name="tijiao" method="post" id="by_form">
           
            <div id="tell">
                <label><img src="__STATIC__/images/tell.png" alt="" srcset=""></label>
                <input type="text" name="mobile" placeholder="请输入手机号码"  >
            </div>
           
            <div id="pwd">
                <label><img src="__STATIC__/images/pwd.png" alt="" srcset=""></label>
                <input type="password" name="password"  placeholder="请输入密码">
            </div>
            
            
                <button type="submit" class="by_submit ">登录</button>
                <button type="submit" class="by_submit " id="zmm" stype="">注册</button>
        </form>
    </div>
{{/block}}