{{extend name="public/base"/}}
{{block name="title"}}登录{{/block}}
{{block name="css"}}
<link rel="stylesheet" type="text/css" href="__CSS__/login.css">
{{/block}}
{{block name="header"}}<a class=" mui-icon mui-icon-more mui-pull-right" style="color:#fff"></a>{{/block}}
{{block name="main"}}
    <div class="mui-content" style="background-color:#fafafa">
        <form action="{{:url('user/doLogin')}}" method="post">
            <div class="">
            <div id="input_example" class="mui-input-group" style="margin-top: 30px;">
                <div class="mui-input-row">
                    <label><span class="mui-icon mui-icon-phone"></span></label>
                    <input id="username" type="text" name="mobile" class="mui-input-clear" placeholder="请输入用户名" id="username">
                </div>
                <div class="mui-input-row">
                    <label><span class="mui-icon mui-icon-locked"></span></label>
                    <input id="password" type="password" name="password" class="mui-input-clear mui-input-password" placeholder="请输入密码" id="password">
                </div> 
             </div>
        </div>
            <div class="mui-content-padded">
                <button id='login' class="mui-btn mui-btn-block " style="background-color:#f5ba4c ;border:none;color:#fff;border-radius: 25px;">登录</button>
                <div class="link-area"><a id='reg' href="{{:url('user/register')}}">注册账号</a> <span class="spliter" style="color:#f5ba4c">|</span> <a id='forgetPassword' href="#">忘记密码</a>
                </div>
            </div>
            {{:token()}}
</form>
        </div>
{{/block}}