{{extend name="public/base"/}}
{{block name="title"}}个人中心{{/block}}
{{block name="css"}}
    <link rel="stylesheet" type="text/css" href="__CSS__/usercenter.css">
{{/block}}
{{block name="main"}}
    <div class="mui-content" style="background: #fff" >
            <div class="by-grezy-head">
                <h4>总收入<h4>
                <h2 style="margin:15px;">{{$Think.session.userInfo.total_income}}.00</h2>
                <div class="by-grzx-ye">
                    <span class="">余额 <strong>{{$Think.session.userInfo.balance}}.00</strong></span>
                    <span>云仓余额 <strong>{{$Think.session.userInfo.cloudwh}}.00</strong></span>
            </div>
        </div>
        <div class="mui-content" style="background-color:#fafafa">  
            <div class="mui-card">
                <div class="mui-card-header" style="font-weight:bold;color:#6a6a6a">我的订单</div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <nav class="mui-bar-tab by-car-tab">
                            <a class="mui-tab-item" style="position:relative">
                                <span class="mui-badge mui-badge-red  by-bage">3</span>
                                <span class="mui-icon mui-icon-extra mui-icon-extra-dictionary "></span>
                                <span class="mui-tab-label">待付款</span>
                            </a>
                            <a class="mui-tab-item" style="position:relative">
                                <span class="mui-badge mui-badge-red  by-bage">3</span>
                                <span class="mui-icon  mui-icon-extra mui-icon-extra-outline"></span>
                                <span class="mui-tab-label">待收货</span>
                            </a>
                            <a class="mui-tab-item" style="position:relative">
                                <span class="mui-badge mui-badge-red  by-bage">3</span>
                                <span class="mui-icon mui-icon-extra mui-icon-extra-card"></span>
                                <span class="mui-tab-label">待发货</span>
                            </a>
                            <a class="mui-tab-item" style="position:relative">
                                <span class="mui-badge mui-badge-red  by-bage">3</span>
                                <span class="mui-icon mui-icon-extra mui-icon-extra-express"></span>
                                <span class="mui-tab-label">已发货</span>
                            </a>
                            <a class="mui-tab-item" style="position:relative">
                                <span class="mui-badge mui-badge-red  by-bage">3</span>
                                <span class="mui-icon mui-icon-checkmarkempty"></span>
                                <span class="mui-tab-label">已完成</span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="mui-card">
                <ul class="mui-table-view mui-table-view-chevron" style="padding: 0 10px;">
                <li class="mui-table-view-cell mui-media">
                    <a class="mui-navigate-right" href="{{:url('user/clientlist')}}">
                        
                        <div class="mui-media-body">
                            我的下线 <span style="float:right">{{$clientNum}}</span>
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media">
                    <a class='mui-navigate-right' href="javascript:;">
                        
                        <div class="mui-media-body">
                            关于
                            
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media">
                    <a class="mui-navigate-right" href="{{:url('user/edit')}}">
                        
                        <div class="mui-media-body">
                            设置
                            
                        </div>
                    </a>
                </li>
            </ul>
            </div>
        </div>
{{include file="public/nav"}}
{{/block}}